<template>
  <g :transform="`rotate(${sway}, ${anchor.x}, ${anchor.y})`">
    <path
      :d="`
      M ${anchor.x} ${anchor.y}
      C ${elbow.x} ${elbow.y},
        ${elbow.x} ${elbow.y},
        ${head.x} ${head.y}
    `"
    />
    <circle
      :r="5 + sway / 5"
      :cx="head.x"
      :cy="head.y"
      @mouseover="touch()"
      @touchend="touch()"
      @touchcancel="touch()"
      @touchmove="touch()"
    />
  </g>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from "vue";
import anime from "animejs";

export default defineComponent({
  name: "Stalk",
  props: {
    height: {
      type: Number,
      required: true,
    },
    lean: {
      type: Number,
      required: true,
    },
  },
  setup(props) {
    const sway = ref(0);
    const currentHeight = ref(props.height);
    const anchor = { x: 150, y: 100 };
    const elbow = computed(() => ({
      x: anchor.x + props.lean / 3 + sway.value / 6,
      y: anchor.y - currentHeight.value * 0.7,
    }));
    const head = computed(() => ({
      x: anchor.x + props.lean + sway.value,
      y: anchor.y - currentHeight.value,
    }));

    return {
      anchor,
      currentHeight,
      elbow,
      head,
      sway,
    };
  },
  methods: {
    touch() {
      // Jiggle stalk.
      anime({
        targets: this,
        direction: "alternate",
        easing: "spring(5, 80, 10, 20)",
        sway: Math.random() * 5 - 2.5,
      });

      // Then grow a bit.
      setTimeout(() => {
        anime({
          targets: this,
          easing: "spring(1, 80, 10, 5)",
          currentHeight: this.height * 1.1,
        });
      }, 1000);

      // And finally settle down
      setTimeout(() => {
        anime({
          targets: this,
          easing: "spring(1, 80, 10, 5)",
          currentHeight: this.height,
        });
      }, 5000);
    },
  },
});
</script>

<style scoped lang="scss">
path {
  stroke: black;
  fill: transparent;
}

circle {
  stroke: black;
  fill: #e2f224;
}
</style>
