<template>
  <svg viewBox="0 0 300 100">
    <Stalk :lean="20" :height="50" />
    <Stalk :lean="-15" :height="40" />
    <Stalk :lean="35" :height="25" />
  </svg>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import Stalk from "@/components/Stalk.vue";

export default defineComponent({
  name: "App",
  components: {
    Stalk,
  },
});
</script>

<style lang="scss">
#app {
  max-width: 100vw;
  max-height: 100vh;
}
</style>

<style lang="scss" scoped>
svg {
  max-height: 100%;
  max-width: 100%;
}
</style>
